<div id="impress" class="impress-not-supported">
	
	<div class="fallback-message">
	  <p>Your browser <b>doesn't support the features required</b>, so you are presented with a simplified version of this presentation.</p>
	  <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser. Upcoming version 10 of Internet Explorer <i>should</i> also handle it.</p>
	 </div>

    <div id="title" class="step slide" data-x="0" data-y="0" data-scale="2">
	  <!--Why Twitter<br/><span>Should Hire Me</span>
	  <h4>Reza Parang (@rezaparang)</h4>-->
	  <span>#</span>HireMe
	  <h2>A brief presentation as to why Twitter should hire me</h2>
	  <h4>Reza Parang (@rezaparang)</h4>
	  <i>Use your space bar or arrow keys to navigate</i>
    </div>

	<div id="intro" class="step slide" data-x="1500" data-y="1500" data-rotate="90" data-scale="1">
	  <h1>Hi, I'm Reza.<h1>
	  <h2>I think I'd be a great fit at Twitter as a<br />product manager on <a href="https://twitter.com/jobs/positions?jvi=oeF9WfwI,Job" target="_blank">self-service advertising</a>.</h2>
    </div>

	<div id="let-me-show-you" class="step slide" data-x="1000" data-y="1500" data-rotate="90">
	  <h1>Let me show you why...</h1>
    </div>

	<div id="effective-product-manager" class="step slide" data-x="500" data-y="2500" data-rotate="180">
	  <h3>An effective product manager would<br />need to know a few things about</h3>
	  <ul>
		<li>building self-serve products for marketers</li>
		<li>measuring campaigns</li>
		<li>user interface design</li>
	  </ul>
    </div>

	<div id="my-experience" class="step slide" data-x="500" data-y="3000" data-rotate="180">
	  <h1>My experience fits these well</h1>
    </div>

	<div id="vitrue-tabs" class="step slide" data-x="2000" data-y="3500">
	  <%= image_tag("vitrue-tabs-self-serve.png", :alt => "Vitrue Tabs Self Serve") %>
	  <p>At Vitrue, I oversaw Tabs, a social content management system.<br /><br />Marketers make engaging pages for Facebook and the social web by dragging and dropping apps onto a canvas. With some creativity, marketers can create highly engaging destinations for users.<br /><br />And they did.<br /><br />Vitrue Tabs today powers some of the most highly trafficked tabs by the world’s leading brands.</p>
    </div>

	<div id="vitrue-tabs-cont-1" class="step slide" data-x="2000" data-y="4200">
	  <%= image_tag("intel.png", :alt => "Intel on Facebook") %>
	  <i>Intel's Welcome tab on Facebook built with Vitrue Tabs</i>
    </div>

	<div id="vitrue-tabs-cont-2" class="step slide" data-x="2000" data-y="5000">
	  <%= image_tag("itunes.png", :alt => "iTunes on Facebook") %>
	  <i>iTunes' Featured tab on Facebook built with Vitrue Tabs</i>
    </div>

	<div id="vitrue-analytics" class="step slide" data-x="500" data-y="4000" data-rotate="90">
	  <%= image_tag("vitrue-analytics-fans.png", :alt => "Vitrue Analytics", :class => "vitrue-analytics") %>
	  <p>The ability to measure the success of an ad campaign is arguably just as important as the campaign itself.<br />We conceived and launched Vitrue Analytics, a social media analytics system focused on Facebook, in two months.<br /><br />Since its release, it has already become a leader in Facebook analytics among enterprise-level technology vendors.<br /><br />We're building the Twitter component today.</p>
    </div>

	<div id="vitrue-analytics-cont-1" class="step slide" data-x="-500" data-y="4000" data-rotate="90">
	  <%= image_tag("vitrue-analytics-fans-demo.png", :alt => "Vitrue Analytics") %>
	  <i>Global fan distribution for a client using Vitrue Analytics</i>
    </div>

	<div id="user-interface" class="step slide" data-x="-500" data-y="4000" data-z="-1000" data-rotate="90">
	  <%= image_tag("publish-journal.png", :alt => "Published Papers", :width => '500px') %>
	  <p>Aside from self-serve and analytics products, an appreciation and experience for strong user-interface design goes a long way among consumer-based web applications.<br /><br />I was intrigued early in my career during my undergraduate education, where I co-authored two journal publications in the field of human-computer interaction.<br /><br />I feel this knowledge translates well to creating usable and enjoyable interfaces for advertisers.</p>
    </div>

	<div id="believe" class="step slide" data-x="-2000" data-y="4000" data-z="-1000">
	  <h1>Also,<h1>
	  <h2>I believe in Twitter's mission of creating a platform of<br />open information with a community of contributors.</h2>
    </div>

	<div id="iranian-green-movement" class="step slide" data-x="-2000" data-y="4000">
	  <%= image_tag("iran-green-movement.jpg", :alt => "Iranian Green Movement") %>
	  <p>In 2009, following the presidential elections in Iran, protestors took to the streets to dispute the supposed victory of the incumbent president.<br /><br />Labeled the Iranian Green Movement, the nicknamed “Twitter Revolution” displayed the impact of Twitter as a network, and social media as a whole was marked as a tool for democracy.<br /><br />These events play an important part in my life, as several of my relatives in Iran used Twitter as a vehicle to assemble and share information quickly.</p>
    </div>

	<div id="twitter-bootstrap" class="step slide" data-x="-2000" data-y="5000">
	  <%= image_tag("bootstrap.png", :alt => "Twitter Bootstrap", :width => '900px') %>
	  <p>Twitter’s Bootstrap and other open source projects show a dedication and contribution to the technology community.<br /><br />Bootstrap is already becoming the first choice among developers for an  HTML and CSS framework. There’s little doubt that the impact of this project will be seen by many internet users, as developers can now focus on bringing rich applications to life without the worry of presentation.<br /><br />I'm currently building my own application using Bootstrap.</p>
    </div>

	<div id="thanks" class="step slide" data-x="-2000" data-y="6000" data-rotate="90">
	  <h1>Thanks for viewing!</h1>
	  <p>I believe I can contribute to Twitter and face the exciting challenges ahead. If you think I have what it takes, it’d be great to hear from you:</p>
	  <div class="info-container">
		<%= image_tag("reza-parang.png", :alt => "Reza Parang") %>
		<h5><a href="https://twitter.com/rezaparang" target="_blank">@rezaparang</a></h5>
	    <h5><a href="mailto:reza.parang@gmail.com">reza.parang@gmail.com</a></h5>
	    <h5><a href="http://dl.dropbox.com/u/4781828/Parang_Resume_Twitter_ProductManager_022712.pdf" target="_blank">Résumé</a></h5>
	  </div>
    </div>

	<div id="credits" class="step slide" data-x="-2700" data-y="6000" data-rotate="90">
	  <h3>Made with</h3>
	  <ul>
		<li>impress.js, a Prezi-style presentation engine by <a href="https://twitter.com/bartaz" target="_blank">@bartaz</a></li>
		<li>Ruby on Rails; hosted on Heroku</li>
		<li>Love and coffee</li>
	  </ul>
    </div>


</div>

<script src="/assets/impress.js"></script>