<div id="impress" class="impress-not-supported">
	
	<!-- Include unsupported browser info -->
	
    <div id="title" class="step slide" data-x="0" data-y="0" data-scale="2">
	  Why Twitter<br/><span>Should Hire Me</span>
	  <h4>February 2012</br>Reza Parang (@rezaparang)</h4>
    </div>

	<div id="intro" class="step slide" data-x="1500" data-y="1500" data-rotate="90" data-scale="1">
	  <h1>Hi, I'm Reza.<h1>
	  <h2>I think I'd be a great fit at Twitter as a<br />product manager on <a href="#">self-service advertising</a></h2>
    </div>

	<div id="let-me-show-you" class="step slide" data-x="1000" data-y="1500" data-rotate="90">
	  <h1>Let me show you why...</h1>
    </div>

	<div id="effective-product-manager" class="step slide" data-x="1000" data-y="2000" data-z="-3000">
	  <h3>An effective product manager would<br />need to know a few things about</h3>
	  <ul>
		<li>how to build self-serve products for marketers</li>
		<li>how campaigns are measured</li>
		<li>user interface design</li>
	  </ul>
    </div>

	<div id="my-experience" class="step slide" data-x="1000" data-y="2500" data-z="-3000">
	  <h1>My experience fits these items well</h1>
    </div>

	<div id="vitrue-tabs" class="step slide" data-x="30000" data-y="20000">
	  <%= image_tag("vitrue-tabs-self-serve.png", :alt => "Vitrue Tabs Self Serve") %>
	  <p>At Vitrue, I oversaw Tabs, a social content management system.<br /><br />Marketers make engaging pages for Facebook and the social web by dragging and dropping apps onto a canvas. With some creativity, marketers can create highly engaging destinations for users.<br /><br />And they did.<br /><br />Vitrue Tabs today powers some of the most highly trafficked tabs by the world’s leading brands.</p>
    </div>

	<div id="vitrue-tabs-cont-1" class="step slide" data-x="35000" data-y="30000" data-z="-1000">
	  <%= image_tag("intel.png", :alt => "Intel on Facebook") %>
	  <i>Intel's Welcome Facebook tab built with Vitrue Tabs</i>
    </div>

	<div id="vitrue-tabs-cont-2" class="step slide" data-x="36000" data-y="31000" data-z="-1000">
	  <%= image_tag("itunes.png", :alt => "iTunes on Facebook") %>
	  <i>iTunes' Featured Facebook tab built with Vitrue Tabs</i>
    </div>

	<div id="vitrue-analytics" class="step slide" data-x="4500" data-y="-1000">
	  <%= image_tag("vitrue-analytics-fans.png", :alt => "Vitrue Analytics", :class => "vitrue-analytics") %>
	  <p>The ability to measure the success of an ad campaign is arguably just as important as the campaign itself.<br />We conceived and launched Vitrue Analytics, a social media analytics system focused on Facebook, in two months.<br /><br />Since its release, it has already become a leader in Facebook analytics among enterprise-level technology vendors.<br /><br />We're building the Twitter component today.</p>
    </div>

	<div id="vitrue-analytics-cont-1" class="step slide" data-x="6000" data-y="5000" data-z="-1000">
	  <%= image_tag("vitrue-analytics-fans-demo.png", :alt => "Vitrue Analytics") %>
	  <i>Global fan distribution for a client using Vitrue Analytics</i>
    </div>

	<div id="user-interface" class="step slide" data-x="5000" data-y="4500">
	  <%= image_tag("publish-journal.png", :alt => "Published Papers", :width => '500px') %>
	  <p>Aside from self-serve and analytics products, an appreciation and experience for strong user-interface design goes a long way among consumer-based web applications.<br /><br />I was intrigued early in my career during my undergraduate education, where I co-authored two journal publications in the field of human-computer interaction.<br /><br />I feel this knowledge translates well to creating usable and enjoyable interfaces for advertisers.</p>
    </div>

	<div id="believe" class="step slide" data-x="5500" data-y="5000" data-z="500">
	  <h1>Also,<h1>
	  <h2>I believe in Twitter's mission of creating a platform of<br />open information with a community of contributors</h2>
    </div>

	<div id="iranian-green-movement" class="step slide" data-x="6000" data-y="5500">
	  <%= image_tag("iran-green-movement.jpg", :alt => "Iranian Green Movement") %>
	  <p>In 2009, following the presidential elections in Iran, protestors took to the streets to dispute the supposed victory of the incumbent president.<br /><br />Labeled the Iranian Green Movement and nicknamed the “Twitter Revolution,” the impact of Twitter as a network and social media as a whole was marked as a tool for democracy.<br /><br />These events play an important part in my life, as several of my relatives in Iran used Twitter as a vehicle of quick information to assemble and share information.</p>
    </div>

	<div id="twitter-bootstrap" class="step slide" data-x="6500" data-y="6000">
	  <%= image_tag("bootstrap.png", :alt => "Twitter Bootstrap", :width => '900px') %>
	  <p>Twitter’s Bootstrap and other open source projects show a dedication and contribution to the technology community.<br /><br />In a short time period, Bootstrap is already becoming the de facto HTML and CSS framework for web development. There’s little doubt the impact of this project will be seen by many all internet users as developers can now focus on bringing rich applications to life without the worry of presentation.</p>
    </div>

	<div id="thanks" class="step slide" data-x="7000" data-y="6500">
	  <h1>Thanks for viewing!</h1>
	  <p>I believe I can contribute to Twitter and face the exciting challenges ahead. If you think I have what it takes, it’d be great to hear from you:</p>
	  <h2>reza.parang@gmail.com</h2>
	  <h2>@rezaparang</h2>
	  <h2>Resume: <a href="#">link</a></h2>
    </div>

	<div id="credits" class="step slide" data-x="7500" data-y="7000">
	  <h4>Made with</h4>
	  <h5>impress.js - prezi-style javascript engine by @bartoz</h5>
	  <h5>Ruby on Rails hosted on Heroku</h5>
	  <h5>Love and coffee</h5>
    </div>


</div>

<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>

<script src="/assets/impress.js"></script>